body {
      background-color: #222233;
      color: #FFFFFF;
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 50px;
    }
    button {
     
      font-size: 20px;
      font-weight: bold;
      height: 80px;
      width: 200px;
      background-color: #4CAF50;
      color: white;
      border: goldenrod 3px solid;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 2px 4px 8px grey;
    }
    button:hover {
      border: goldenrod 3px dotted;
      background-color: #45a049;
      box-shadow: 4px 8px 16px grey;
    }
    p{
      color: #F0F0F0;
      font-size: 20px;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    div{
      margin: 20px;
      display: inline-block;
    }